.NavBarMenu {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
}

#light .NavBarMenu{
  background-color: #fff;
}


#dark .NavBarMenu{
  background-color: #151221;
}

.NavBarMenu ul li a {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.NavBarMenu ul a {
  color: #7550db;
  padding: 10px 0;
}

.NavBarMenu ul li a.active {
  padding: 10px;
  border-radius: 20px;
}

#light .NavBarMenu ul li a.active{
  background-color: #f0eef6;
  color: #000;
}

#dark .NavBarMenu ul li a.active{
  background-color: #403d3d;
  color: #fff;
}

.addresPage {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
}

#light .addresPage{
  background-color: #fff;
}

#dark .addresPage{
  background-color: #151221;
}

.addresPage img {
  width: 40px;
  border-radius: 50%;
}

.addresPage div {
  font-size: 13px;
}

.addresPage div p:nth-child(1) {
  font-weight: bold;
}

#dark .addresPage div p:nth-child(1) {
  color: #fff;
}

.addresPage div p:nth-child(2) {
  color: #a7a1ba;
}

@media only screen and (max-width: 992px) {
  .addresPage {
    display: none;
  }

  .NavBarMenu{
    margin-top: 0;
  }

  .NavBarMenu ul li a p {
    display: none;
  }

  .NavBarMenu ul li a.active {
    background-color: transparent;
  }

  .NavBarMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 576px){

  .NavBarMenu{
    margin-top: 15px;
  }

  .NavBarMenu ul li a p {
    display: block;
  }

  .NavBarMenu ul li{
    width: 100%;
  }

  #light .NavBarMenu ul li a.active {
    padding: 10px;
    background-color: #f0eef6;
  }

  #dark .NavBarMenu ul li a.active {
    padding: 10px;
    background-color: #a7a1ba;
  }
}