@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input{
  border: none;
  outline: none;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1200px;
  }
}

@media only screen and (max-width: 768px) {
  .container{
    width: 95%;
  }
}

